<div class="portada-container">
  <app-background-video/>

  <div class="overlay">
    <div class="content">
      <img [src]="myPortfolio.imageUrl" alt="Mi Foto" class="profile-pic" />

      <h1 class="nombre">{{myPortfolio.title}}</h1>
      <p class="rol">{{myPortfolio.subtitle}}</p>

      <div class="social-links">
        @if (myPortfolio.urlsProfile.github !== '') {
        <a [href]="myPortfolio.urlsProfile.github" target="_blank" class="github-link">
          <i class="bi bi-github"></i>
        </a>
        }
        @if (myPortfolio.urlsProfile.stackoverflow !== '') {
        <a [href]="myPortfolio.urlsProfile.stackoverflow" target="_blank" class="stackoverflow-link">
          <i class="bi bi-stack-overflow"></i>
        </a>
        }
        @if (myPortfolio.urlsProfile.linkedin !== '') {
        <a [href]="myPortfolio.urlsProfile.linkedin" target="_blank" class="linkedin-link">
          <i class="bi bi-linkedin"></i>
        </a>
        }
        @if (myPortfolio.urlsProfile.twitter !== '') {
          
        }
        @if (myPortfolio.urlsProfile.instagram !== '') {
        <a [href]="myPortfolio.urlsProfile.instagram" target="_blank" class="instagram-link">
          <i class="bi bi-instagram"></i>
        </a>
        }
        @if (myPortfolio.urlsProfile.youtube !== '') {
          
        }
        @if (myPortfolio.urlsProfile.facebook !== '') {
          
        }
        @if (myPortfolio.urlsProfile.whatsapp !== '') {
          
        }
        @if (myPortfolio.urlsProfile.telegram !== '') {
          
        }
        @if (myPortfolio.urlsProfile.email !== '') {
          
        }
      </div>

      <div class="btns-actions">
          @if (myPortfolio.buttonsActions.downloadCV.textBtn !== '') {
            <a [href]="myPortfolio.buttonsActions.downloadCV.url" 
            target="_blank" class="btn action-btn download">
              <i class="bi bi-file-earmark-arrow-down"></i>
              {{myPortfolio.buttonsActions.downloadCV.textBtn}}
            </a>
          }
          @if (myPortfolio.buttonsActions.contactMe.textBtn !== '') {
            <a [href]="myPortfolio.buttonsActions.contactMe.url" 
            target="_blank" class="btn action-btn contact">
              <i class="bi bi-chat-left-dots"></i>
              {{myPortfolio.buttonsActions.contactMe.textBtn}}
            </a>
          }
          @if (myPortfolio.buttonsActions.viewProjects.textBtn !== '') {
            <a [href]="myPortfolio.buttonsActions.viewProjects.url" 
            target="_blank" class="btn action-btn projects">
              <i class="bi bi-building-add"></i>
              {{myPortfolio.buttonsActions.viewProjects.textBtn}}
            </a>
          }
      </div>
    </div>
  </div>
</div>
